<div class="intro">
  <h1>Hi, I'm Toby</h1>
  <img id="headshot" src="assets/toby.png" alt="A photograph of Toby Hede looking friendly, yet professional"/>
</div>
<div class="details">  
    <p>
      I am a passionate, hands-on technical leader and developer with 20 years of experience in technology.     
    </p>

    <p>
      I act at the intersection of people, technology and business strategy, melding deep technical expertise with business-focused strategic thinking,honed by a polyglot development background and years of experience spent in the trenches as a software engineer and technical leader.
    </p>

    <p>I work to nurture and shape teams, build an inclusive culture, and continuously improve the craft of software practice and process to rapidly deliver value and make an impact.</p>

    <p>I am an expert in cloud-native serverless architecture, with a focus on event-based, stateless and eventually consistent systems.</p>

    <!-- p>
      I am the creator of <a href="https://serverlesspatterns.io/">serverlesspatterns.io</a> - the definitive guide to serverless architecture in practice (on AWS)
    </p -->

    <ul>
      <li>polyglot programmer.</li>
      <li>cloud architecture.</li>
      <li>scaling, distributed systems, &amp; databases.</li>      
      <li>typescript | node.js | javascript | ruby | go | etc.</li>
      <li>many buzzwords.</li>
      <li>enthusiastic drummer.</li>
      <li>aspirational powerlifter.</li>    
    </ul>
</div>
