<div class="intro">
  <h1>about</h1>
</div>
<div class="details">
    <p>
        I am a hands-on technical leader and developer with 20 years of experience in technology.
    </p>

    <p>
      I meld deep technical expertise with business-focussed strategic thinking honed by a polyglot development background and years in the trenches as a software engineer and technical leader.
    </p>

    <p>I think strategically about people, teams and culture and help transform engineering teams into lean, cloud-native, value-delivering machines.</p>

    <p>I am an expert in cloud-native serverless architecture, with a focus on event-based, stateless and eventually consistent systems.</p>

    <p>I am the creator of <a href="https://serverlesspatterns.io/">serverlesspatterns.io</a> - the definitive guide to serverless architecture in practice (on AWS)</p>

    <ul>
      <li>polyglot programmer.</li>
      <li>serverless aficionado.</li>
      <li>full stack, skewed backwards.</li>
      <li>aws and cloud architecture.</li>
      <li>scaling, distributed systems, &amp; databases.</li>
      <li>typescript | node.js | javascript | ruby | go | etc.</li>
      <li>many buzzwords.</li>
    </ul>

</div>