<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Toby Hede</span>
        <span class="site-description">technology leader <br/>serverless architect</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>

        {% for social in site.social %}
          <a aria-label="{{ social.label }}" target="_blank" href="{{ social.url }}"><i class="icon fa fa-{{ social.label }}" aria-hidden="true"></i></a>
        {% endfor %}
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
