---
import HeroImageLight from '../assets/pondering-the-orb.png';
import HeroImageDark from '../assets/pondering-the-cyberorb.png';
import HeroPageLayout from '../layouts/HeroPageLayout.astro';
---

<HeroPageLayout
  title="Hello, I'm Toby!"
  description="Hello, I'm Toby!"
  pubDate={new Date('August 23 2025')}
  heroImage={HeroImageLight}
  heroImageDark={HeroImageDark}
>
  <p>Items of interest, in no particular order:</p>
  <ul>
    <li>vp of engineering @ <a href="https://cipherstash.com">cipherstash.com</a>.</li>
    <li>rust engineer.</li>
    <li>software architect.</li>
    <li>enthusiastic drummer and sporadic musician.</li>
    <li>lifts heavy things and puts them down again.</li>
    <li>often hilarious (citation needed).</li>
  </ul>
</HeroPageLayout>
