---
import HeroImageLight from '../assets/pondering-the-orb.png';
import HeroImageDark from '../assets/pondering-the-cyberorb.png';
import HeroPageLayout from '../layouts/HeroPageLayout.astro';
---

<HeroPageLayout
  title="hello"
  description="hello"
  heroImage={HeroImageLight}
  heroImageDark={HeroImageDark}
>
  I am Toby
  <br/>
  Items of interest, in no particular order:
  <ul>
    <li>vp of engineering @ <a href="https://cipherstash.com">cipherstash.com</a>.</li>
    <li>rust engineer.</li>
    <li>software architect.</li>
    <li>enthusiastic drummer and sporadic musician.</li>
    <li>lifts heavy things and puts them down again.</li>
    <li>often hilarious (citation needed).</li>
  </ul>
</HeroPageLayout>
